<div class="center jumbotron">
  <h2>About the Software </h2>
  <br><br>
  <div>
    <table class="table">
      <tr>
        <th class="col-md-2 col-lg-2 float-left">Package Name</th>
        <th class="col-md-4 col-lg-4 float-left">Description</th>
      </tr>

      <tr>
        <td><a href="https://github.com/yangsec888/Cloud-Auditor" target="_blank">Cloud Auditor</a></td><td>Open-source front-end Rails application.</td>
      </tr>
      <tr>
        <td><a href="https://github.com/nccgroup/ScoutSuite" target="_blank">ScoutSuite</a></td><td>Open-source Python application for cloud audit and report data generation.</td>
      </tr>
      <tr>
        <td><a href="https://github.com/toniblyx/prowler" target="_blank">Prowler</a></td><td>Open-source AWS CIS Benchmark Shell Script audit tool.</td>
      </tr>
    </table>
  </div>



</div>
