</br>
<div class="row">
  <div class="pull-left col-sm-3 col-md-3">
    <div id="jstree_yml_files" >
      <ul>
      </ul>
    </div>
  </div>

  <div class="pull-right col-sm-9 col-md-9">
    <h4>Online Editor </h4>
    <%= hidden_field_tag :file_path %>
    <div class ="CodeMirror" id="myTextArea">
    </div>
    </br>
    <button type="button" class="btn btn-primary" id="save_button" style="display: none;">Save</button>
  </div>

</div>
