<div class="row"> </div>

<div class="page-footer text-muted" class="container">
  <hr style="border-top: 1px solid black; border-bottom: 7px solid #F2F2F2;margin-top: 2px;margin-bottom: 0px;">
    <footer class="footer">
      <div><small><%= link_to "Product Security", "/support/contact" %></small></div>
      <i class="divider"></i>
      <div><small><%= link_to "Cloud Audior", "/home/about" %></small> </div>
      <i class="divider"></i>
      <div><small><%= link_to image_tag("your-company-logo.png", class: "clickable-img", size: "80x40"), "https://goo.gl/maps/dbkhL6DUNYr", target: "_blank" %></small></div>
    </footer>
</div>
